doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="")
        meta(name="author" content="Aman Kumar")

        
        link(rel="stylesheet" type="text/css" href="./style.css")

        title full page scroll effect

    body

        .container
            .section.one
                h1 first 
            .section.second
                h1 second 
            .section.third
                h1 third 
            .section.forth
                h1 forth 
            .section.fifth
                h1 fifth 
            .section.sixth
                h1 sixth 
            .section.seventh
                h1 seventh 
            .section.eight
                h1 eight 