.custom-select {
    position: relative;
    font-family: Arial;
    width: 550px;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: white;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: black transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent black transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.select-selected{
    border-color:rgba(0, 0, 0, 0.1);
}

.select-hide {
    display: none;
}

.select-items div:hover {
    background-color: rgb(0, 171, 238);
}